/**/.DS_Store
/**/.vscode
/**/spa/**/style.css
/**/node_modules
/**/package-lock.json
/**/npm/dist
/**/contracts-out
/**/truffle-config.js
/**/artifacts
/**/eth-item-token-standard-old
/**/bin
/**/build
/**/lib
/**/out
/**/flat
/**/.env
/**/*.env
/**/contracts_old